body {
    font-family: 'Arial', sans-serif;
    background-color: #fdf9f9;
}

.menu-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    margin: 15px;
    cursor: pointer;
    color: #e27d9d;
    z-index: 1101;
    position: fixed;
    top: 0;
    left: 0;
}

.header {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    padding-left: 70px;
}

.sidebar {
    width: 270px;
    height: 100vh;
    background: linear-gradient(to bottom right, #fef6f9, #f0f3f8);
    position: fixed;
    top: 0;
    left: -270px;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1100;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

.sidebar.active {
    left: 0;
}

.main-content {
    padding: 100px 30px 30px 30px;
    margin-top: 60px;
}

.sidebar.active~.main-content,
.sidebar.active~.header {
    margin-left: 0;
}